.header-nav.stricky {
    z-index: 1000;
    position: fixed;
    top: 0px;
    margin-left: 0px;
    right: 0px;
    left: 0px;
}

.dropdown-content{
    min-height: 100px;
}
.bravo_user_profile_form .profile-social .form-control {
    padding: 0px;
}

section {
    padding: 160px 0;
}

.grid_list_search_result .right_area ul li:last-child .dropdown.bootstrap-select.show-tick,
.grid_list_search_result .right_area ul li:last-child button.btn.dropdown-toggle{
  width: 130px;
}